{
  "presets": [
    "@babel/typescript",
    [
      "@babel/preset-env",
      {
        "targets": "> .25%, not dead",
        "exclude": ["transform-async-to-generator", "transform-regenerator"]
      }
    ]
  ],
  "plugins": [
    "@babel/proposal-class-properties",
    "@babel/proposal-object-rest-spread"
  ],
  "comments": false
}
